.app-wrapper {
  display: grid;
  grid-template-areas: 
    'h h h'
    'n c c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  
}
.header {
  grid-area: h;
  background-color: rgb(5, 206, 196);
}
.header img {
  width: 100px;
}
.nav {
  grid-area: n;
  background-color: rgb(5, 206, 196);

}
.nav ul {
  list-style-type: none;
}
.content {
  grid-area: c;
  background-color: rgb(5, 193, 206);

}
.content img {
  height: 100px;
  width: 100%;
}


